/*!
 * La Maison v1.0.0 (http://agenciacomidadibuteco.com.br)
 * Copyright 2018-2018 Drix
 */
.heading-font {
  font-family: 'Avenir LT Std 35 Light', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}
.body-font {
  font-family: 'Avenir LT Std 35 Light', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Avenir LT Std 95 Black', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}
.icon-donabenta__arrow-down {
  background-image: url(../img/sprite.png);
  background-position: -38px -34px;
  width: 44px;
  height: 44px;
}
.icon-donabenta__arrow-left,
.icon-donabenta__arrow-right,
.icon-donabenta__art {
  background-image: url(../img/sprite.png);
  background-position: -26px -122px;
  width: 32px;
  height: 19px;
}
.icon-donabenta__arrow-right,
.icon-donabenta__art {
  background-position: -58px -122px;
}
.icon-donabenta__art {
  background-position: 0 0;
  width: 215px;
  height: 34px;
}
.icon-donabenta__cake,
.icon-donabenta__flower-filled {
  background-image: url(../img/sprite.png);
  background-position: -126px -34px;
  width: 44px;
  height: 44px;
}
.icon-donabenta__flower-filled {
  background-position: 0 -122px;
  width: 26px;
  height: 26px;
}
.icon-donabenta__flower,
.icon-donabenta__heart {
  background-image: url(../img/sprite.png);
  background-position: -178px -90px;
  width: 28px;
  height: 28px;
}
.icon-donabenta__heart {
  background-position: 0 -34px;
  width: 38px;
  height: 56px;
}
.icon-donabenta__load-more-transparent-white {
  background-image: url(../img/sprite.png);
  background-position: -118px -90px;
  width: 30px;
  height: 30px;
}
.icon-donabenta__load-more,
.icon-donabenta__load-more-transparent {
  background-image: url(../img/sprite.png);
  background-position: -88px -90px;
  width: 30px;
  height: 30px;
}
.icon-donabenta__load-more {
  background-position: 0 -148px;
  width: 20px;
  height: 20px;
}
.icon-donabenta__product-info,
.icon-donabenta__product-nutri {
  background-image: url(../img/sprite.png);
  background-position: -148px -90px;
  width: 30px;
  height: 30px;
}
.icon-donabenta__product-nutri {
  background-position: -58px -90px;
}
.icon-donabenta__s2-left,
.icon-donabenta__s2-right,
.icon-donabenta__search-icon {
  background-image: url(../img/sprite.png);
  background-position: -29px -90px;
  width: 29px;
  height: 32px;
}
.icon-donabenta__s2-right,
.icon-donabenta__search-icon {
  background-position: 0 -90px;
}
.icon-donabenta__search-icon {
  background-position: -90px -122px;
  width: 18px;
  height: 18px;
}
.icon-donabenta__social-fb,
.icon-donabenta__social-instagram {
  background-image: url(../img/sprite.png);
  background-position: -170px -34px;
  width: 44px;
  height: 44px;
}
.icon-donabenta__social-instagram {
  background-position: -82px -34px;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Fonts */
@font-face {
  font-family: 'fourseasons';
  src: url("latinotype_-_fourseasonspro-webfont.eot");
  src: url("latinotype_-_fourseasonspro-webfont.eot?#iefix") format("embedded-opentype"), url("latinotype_-_fourseasonspro-webfont.woff2") format("woff2"), url("latinotype_-_fourseasonspro-webfont.woff") format("woff"), url("latinotype_-_fourseasonspro-webfont.ttf") format("truetype"), url("latinotype_-_fourseasonspro-webfont.svg#fourseasons_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aperto';
  src: url("ufonts.com_aperto-webfont.eot");
  src: url("ufonts.com_aperto-webfont.eot?#iefix") format("embedded-opentype"), url("ufonts.com_aperto-webfont.woff2") format("woff2"), url("ufonts.com_aperto-webfont.woff") format("woff"), url("ufonts.com_aperto-webfont.ttf") format("truetype"), url("ufonts.com_aperto-webfont.svg#apertoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'introbook';
  src: url("intro-book-alt.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("icomoon.eot?8stf6p");
  src: url("icomoon.eot?8stf6p#iefix") format("embedded-opentype"), url("icomoon.ttf?8stf6p") format("truetype"), url("icomoon.woff?8stf6p") format("woff"), url("icomoon.svg?8stf6p#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="ficon-"],
[class*=" ficon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:after {
  clear: both;
}
/* Structure */
body {
  background: #fefbf7;
  font-size: 20px;
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
p {
  -webkit-font-smoothing: antialiased;
}
.donabenta__header .donabenta__logo-link {
  position: absolute;
  display: block;
  width: 182px;
  height: 182px;
  top: 15px;
  left: 50%;
  margin-left: -90px;
  z-index: 999;
  background: url(../img/header/donabenta__logo.png);
  background-size: cover;
  text-indent: -999em;
}
.donabenta__header {
  background: url(../img/header/donabenta__header-pattern.png);
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 280px;
}
.donabenta__linhas h1 {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  color: #674707;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'fourseasons';
  font-weight: 700;
  text-align: center;
  width: 520px;
  line-height: 1;
  letter-spacing: 8.5px;
}
.donabenta__linhas h1:before {
  display: inline;
  content: '';
  background: url(../img/donabenta__arrow-left.png);
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.donabenta__linhas h1:after {
  display: inline;
  content: '';
  background: url(../img/donabenta__arrow-right.png);
  width: 32px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.donabenta__recipes-related h1:after,
.donabenta__produtos h1:after {
  display: inline;
  content: " ";
  width: 32px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 20px;
}
.donabenta__recipes-related h1:after {
  background: url(../img/icon-donabenta__flower.png) !important;
  width: 29px !important;
  height: 29px !important;
}
.donabenta__recipes-related h1:before {
  background: url(../img/icon-donabenta__flower.png) !important;
  width: 29px !important;
  height: 29px !important;
}
.donabenta__recipes-related h1,
.donabenta__produtos h1 {
  position: relative;
  display: inline-block;
  margin: 0 auto 30px;
  padding: 20px 50px;
  color: #674707;
  text-transform: uppercase;
  font-size: 36px;
  font-family: 'fourseasons';
  font-weight: 700;
  text-align: center;
  width: auto;
  line-height: 1;
  letter-spacing: 8px;
}
.header {
  padding: 47px 0;
  height: 290px;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../img/pattern.png);
  content: '';
}
.header::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
}
.header .main_logo {
  margin-top: 25px;
}
.footer {
  padding: 47px 0;
  height: 220px;
  background-image: url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../img/pattern.png);
  content: '';
}
.footer::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
  transform: rotate(180deg);
}
.footer .main_logo {
  margin-top: 25px;
}
#home .title {
  color: #1f4583;
  font-size: 61.77px;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 65px;
  margin-top: 50px;
  font-family: 'fourseasons';
}
#home p {
  font-family: 'fourseasons';
  color: #674707;
  font-size: 20px;
  line-height: 25px;
  max-width: 480px;
  letter-spacing: 1.2px;
}
#home p img {
  margin-right: 9px;
}
#home p a {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
#home .map-content {
  position: relative;
}
#home .map-content .logo_comida {
  position: absolute;
  bottom: 0;
  left: 8%;
}
