/*!
 * Dona Benta v1.0.0 (http://comidadibuteco.com.br)
 * Copyright 2018-2018 Drix
 */
.heading-font {
  font-family: 'Avenir LT Std 35 Light', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
}
.body-font {
  font-family: 'Avenir LT Std 35 Light', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Avenir LT Std 95 Black', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus {
  outline: none;
}
a {
  text-decoration: none;
}
a::hover {
  text-decoration: underline;
}
/* Fonts */
@font-face {
  font-family: 'fourseasons';
  src: url('FourSeasonsPro.woff2') format('woff2'), url('FourSeasonsPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.clearfix:after {
  clear: both;
}
/* Structure */
body {
  background: #fefbf7;
  font-size: 20px;
  font-family: 'fourseasons';
  line-height: 130%;
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
p {
  -webkit-font-smoothing: subpixel-antialiased;
}
.header {
  padding: 47px 0;
  height: 290px;
  background-image: url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.header::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../img/pattern.png);
  content: '';
}
.header::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
}
.header .main_logo {
  margin-top: 25px;
  transition: all 0.2s ease-in-out;
}
.header .main_logo:hover {
  transform: scale(1.25);
}
.footer {
  padding: 47px 0;
  height: 220px;
  background-image: url(../img/footer.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .footer {
    background-size: cover;
    height: 150px;
  }
}
.footer::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 47px;
  background-image: url(../img/pattern.png);
  content: '';
}
.footer::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
  transform: rotate(180deg);
}
.footer .main_logo {
  margin-top: 25px;
}
#home .title {
  color: #1f4583;
  font-size: 61.77px;
  line-height: 64px;
  text-transform: uppercase;
  margin-bottom: 65px;
  margin-top: 50px;
  font-family: 'fourseasons';
}
@media screen and (max-width: 768px) {
  #home .title {
    font-size: 36.77px;
    line-height: 39px;
    margin-bottom: 25px;
    margin-top: 0px;
  }
  #home .title br {
    display: none;
  }
}
#home .body p {
  font-family: 'fourseasons';
  color: #674707;
  font-size: 20px;
  line-height: 25px;
  max-width: 480px;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 768px) {
  #home .body p {
    font-size: 16px;
    line-height: 20px;
  }
  #home .body p br {
    display: none;
  }
}
#home .body p img {
  margin-right: 9px;
}
#home .body p a {
  margin-top: 30px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
#home .logo_comida_mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  #home .logo_comida_mobile {
    display: inline-block;
  }
}
#home .map-content {
  position: relative;
}
@media screen and (max-width: 768px) {
  #home .map-content {
    margin-bottom: 25px;
  }
}
#home .map-content .logo_comida {
  position: absolute;
  bottom: 0;
  left: 8%;
}
@media screen and (max-width: 768px) {
  #home .map-content .logo_comida {
    display: none;
  }
}
#home .map-content .mapa {
  max-width: 100%;
}
#home .map-content .flag {
  position: absolute;
  width: 76px;
  height: 64px;
  background-image: url(../img/flag.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 44px;
  padding-top: 5px;
  display: block;
}
#home .map-content .flag.am {
  top: 13%;
  left: 16%;
}
#home .map-content .flag.pa {
  top: 14%;
  left: 44%;
}
#home .map-content .flag.ce {
  top: 15%;
  left: 76%;
}
@media screen and (max-width: 768px) {
  #home .map-content .flag.ce {
    top: 12%;
    left: 73%;
  }
}
#home .map-content .flag.pe {
  top: 22%;
  left: 81%;
}
#home .map-content .flag.ba {
  top: 33%;
  left: 71%;
}
#home .map-content .flag.df {
  top: 40%;
  left: 57%;
}
@media screen and (max-width: 768px) {
  #home .map-content .flag.df {
    top: 37%;
    left: 54%;
  }
}
#home .map-content .flag.mg {
  top: 47%;
  left: 66%;
}
#home .map-content .flag.mg {
  top: 47%;
  left: 66%;
}
#home .map-content .flag.rj {
  top: 55%;
  left: 70%;
}
#home .map-content .flag.sp {
  top: 57%;
  left: 56%;
}
#home .map-content .flag.pr {
  top: 62%;
  left: 46%;
}
@media screen and (max-width: 768px) {
  #home .map-content .flag.pr {
    top: 55%;
    left: 43%;
  }
}
#home .map-content .flag.sc {
  top: 68%;
  left: 51%;
}
#home .map-content .flag.rs {
  top: 77%;
  left: 42%;
}
.modal-backdrop {
  background-color: #1e4385;
}
.modal-backdrop.in {
  opacity: .75;
}
.modal-header .close {
  top: -74px;
  position: absolute;
  left: 50%;
  margin-left: -55px;
  opacity: 1;
}
.modal-title {
  text-transform: uppercase;
  font-size: 30px;
  color: #bd9647;
}
.modal-body {
  color: #bd9647;
  font-size: 16px;
}
.modal-dialog {
  top: 50%;
  margin-top: -11%;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .modal-dialog {
    top: 70px;
    margin-top: 0;
  }
}
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0px;
  padding: 0;
}
.breadcrumb p a {
  color: #bd9647;
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
}
.breadcrumb p a.tt {
  text-transform: uppercase;
}
.modal-content {
  background-color: #fff;
  position: relative;
  padding: 42px 0;
}
.modal-content::before {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
}
.modal-content::after {
  display: block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 73px;
  background-image: url(../img/babado.png);
  content: '';
  transform: rotate(180deg);
}
#interna {
  position: relative;
}
#interna .entry-title {
  font-size: 46px;
  color: #bd9647;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #interna .entry-title {
    font-size: 35px;
  }
}
#interna h3 {
  color: #674707;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 15px 0;
}
#interna .categoria h1 {
  margin-top: 0;
  color: #674707;
  text-transform: uppercase;
  font-size: 69px;
  margin-bottom: 20px;
  position: relative;
  padding: 0 55px;
  display: inline-block;
}
#interna .categoria h1:before {
  display: inline;
  content: " ";
  width: 30px;
  height: 31px;
  position: absolute;
  left: 0;
  top: 10px;
  background: url(../img/heart-left.png);
}
@media screen and (max-width: 768px) {
  #interna .categoria h1:before {
    top: 0;
  }
}
#interna .categoria h1:after {
  display: inline;
  content: " ";
  width: 30px;
  height: 31px;
  position: absolute;
  right: 0;
  top: 10px;
  background: url(../img/heart-right.png);
}
@media screen and (max-width: 768px) {
  #interna .categoria h1:after {
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  #interna .categoria h1 {
    font-size: 39px;
    margin-top: 0;
  }
}
#interna .ingredientes h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #bd9647;
  position: relative;
  letter-spacing: 1px;
  padding: 0 45px;
  display: inline-block;
}
#interna .ingredientes h2:before {
  display: inline;
  content: " ";
  width: 32px;
  height: 19px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/donabenta__arrow-left.png);
}
#interna .ingredientes h2:after {
  display: inline;
  content: " ";
  width: 32px;
  height: 19px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/donabenta__arrow-right.png);
}
@media screen and (max-width: 768px) {
  #interna .ingredientes h2 {
    font-size: 20px;
  }
}
#interna .ingredientes p {
  font-family: 'fourseasons';
  color: #1f4583;
  font-size: 16px;
  line-height: 29px;
  max-width: 480px;
  letter-spacing: 1.2px;
  margin: 0;
}
#interna .modo_de_preparo h2 {
  position: relative;
  font-size: 24px;
  text-transform: uppercase;
  color: #bd9647;
  letter-spacing: 1px;
  padding: 0 30px;
  display: inline-block;
}
#interna .modo_de_preparo h2:before {
  display: inline;
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/modo.png);
}
#interna .modo_de_preparo h2:after {
  display: inline;
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/modo.png);
}
@media screen and (max-width: 768px) {
  #interna .modo_de_preparo h2 {
    font-size: 20px;
  }
}
#interna .modo_de_preparo p {
  font-family: 'fourseasons';
  color: #1f4583;
  font-size: 16px;
  line-height: 29px;
  max-width: 480px;
  letter-spacing: 1.2px;
  margin: 0;
}
#interna .sidebar {
  border-right: solid 1px #d2d2d2;
}
@media screen and (max-width: 768px) {
  #interna .sidebar {
    border: none;
  }
}
#interna .sidebar.col-md-12 {
  border: none;
}
#interna .sidebar .subcat-list-full ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#interna .sidebar .subcat-list-full ul li {
  font-size: 24px;
  color: #bd9647;
  text-decoration: none;
  text-transform: capitalize;
  margin: 20px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  #interna .sidebar .subcat-list-full ul li {
    font-size: 18px;
    margin: 10px 7px;
  }
}
#interna .sidebar .subcat-list-full ul li a {
  font-size: 27px;
  color: #bd9647;
  text-decoration: none;
  text-transform: capitalize;
}
#interna .sidebar .subcat-list-full ul li a:hover {
  text-decoration: underline;
}
#interna .sidebar .subcat-list-full ul li a::after {
  content: ' | ';
  display: inline-block;
  margin: 0 0 0 15px;
}
@media screen and (max-width: 768px) {
  #interna .sidebar .subcat-list-full ul li a {
    font-size: 18px;
  }
}
#interna .sidebar .subcat-list.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  #interna .sidebar .subcat-list {
    display: none;
  }
  #interna .sidebar .subcat-list.mobile {
    margin-top: 30px;
    display: block;
  }
}
#interna .sidebar .subcat-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#interna .sidebar .subcat-list ul li {
  font-size: 24px;
  color: #bd9647;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #interna .sidebar .subcat-list ul li {
    font-size: 19px;
    margin: 10px;
    display: inline-block;
  }
}
#interna .sidebar .subcat-list ul li a {
  font-size: 24px;
  color: #bd9647;
  text-decoration: none;
  text-transform: capitalize;
}
#interna .sidebar .subcat-list ul li a:hover {
  text-decoration: underline;
}
#interna .sidebar .subcat-list ul li a.current {
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  #interna .sidebar .subcat-list ul li a {
    font-size: 19px;
    margin: 10px;
    display: inline-block;
  }
}
